<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourGuide</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="stylesheets/tour.css">
</head>
<body class="bg-gray-300">
    <div class="relative text-white mine flex items-center justify-center">
        <img class="absolute inset-0 w-full h-full object-cover" src="/images/tour.jpg" alt="">
        <div class="z-20 button-outer flex justify-center">
            <a href="#offer-header" class="text-lg font-bold uppercase">search</a>
        </div>
        <div class="z-10 relative flex items-center justify-center">
            <div class="mine-inner flex flex-col justify-center items-center space-x-6">
                <!-- Flight Info Layout -->
                <div class="travel bg-white border border-gray-300 rounded-lg shadow-lg relative z-10">

                    <div class="flex h-full">
                        <!-- From Section -->
                        <div
                            class="group flex flex-col justify-center px-6 border-r border-gray-300 w-[200px] text-gray-800">
                            <span class="text-gray-800 text-base blue-text">Where</span>
                            <span class="font-bold text-3xl text-gray-950">Banjul</span>
                            <span class="text-gray-800 text-sm blue-text">BJL, Banjul airport</span>
                        </div>

                        <!-- Departure Section -->
                        <div
                            class="group flex flex-col justify-center px-6 border-r border-gray-300 w-[200px] text-gray-800">
                            <span class="text-gray-800 text-base blue-text">When</span>
                            <span class="text-xl"> <span class="text-gray-950 font-bold text-3xl">5</span> Dec'24</span>
                            <span class="text-gray-800 text-sm blue-text">Wednesday</span>
                        </div>

                        <!-- To Section -->
                        <div
                            class="group flex flex-col justify-center px-6 border-r border-gray-300 w-[300px] text-gray-800">
                            <span class="text-gray-800 text-base blue-text">Tour Guy Gender</span>
                            <span class="font-bold text-3xl text-gray-950">Male</span>
                            <span class="text-gray-800 text-sm blue-text"><i class="fas fa-male mr-2 text-blue-700"></i>Male</span>
                        </div>
                        <!-- Return Section -->
                        <div
                            class="group flex flex-col justify-center px-6 border-r border-gray-300 w-[200px] text-gray-800">
                            <span class="text-gray-800 text-base blue-text">Budget</span>
                            <span class="text-xl"> <span class="text-gray-950 font-bold text-3xl">5000</span>
                                GMD</span>
                            <span class="text-gray-800 text-sm blue-text"><i class="fas fa-money-bill mr-2 text-blue-600"></i> <span>GMD or CFA</span> </span>
                        </div>
                        <!-- Passenger Section -->
                        <div class="group flex flex-col justify-center px-6 w-[340px] text-gray-800">
                            <span class="text-gray-800 text-base blue-text mb-2">Additional Service</span>
                            <span class="text-xl"><span class="text-3xl font-bold text-gray-950 -mt-1">1</span>
                                Passenger</span>
                        </div>
                    </div>
                </div>

                <!-- End of Flight Info Layout -->
            </div>
        </div>
    </div>
</body>
</html>