:root{
    --primary-color: #6eb0ec;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
    --max-width: 1200px
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc5b9;
    background-color: #fff;
    color: #111;
    padding: 25px 0;
    font-family: 'Arial', sans-serif;
}


h3{
    color: #333333;
    font-size: 0.95rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding-left: 10px;
}

.footer-section a {
    font-size: .9rem;
    color: #111;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #0070e0;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 1px solid #ccc5b9;
}

.footer-bottom .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-bottom .socials a{
    padding: 5px 13px;
    font-size: 1.5rem;
    background-color: #efeaee;
    border-radius: 50%;
}

.footer-bottom .social-icon .fa-facebook-square{
    color: #1877F2;
}

.footer-bottom .social-icon .fa-linkedin{
    color: #0A66C2;
}

.footer-bottom .social-icon .fa-youtube {
    color: #FF0000;
}

.footer-bottom .social-icon .fa-x-twitter{
    color: #000000;
}

.footer-bottom a:hover{
    background-color: var(--text-light);
}


.footer-bottom .social-icon i:hover{
    color: var(--white);
}




/* Responsive Styles */
/* @media (max-width: 768px) */
@media (max-width: 468px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-section {
        min-width: unset;
        padding-left: 0;
    }
}
